.add-creator-container {
  padding: 2rem;
}

.add-creator-container h2 {
  font-weight: 500;
  color: #FFBD09;
  margin-left: 0px;
  margin-top: 2rem;
}

.creator-inputs {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  flex-direction: column;
}

input {
  padding: 10px;
  border: 1px solid #2C510B;
  border-radius: 6px;
  width: 200px;
  font-size: 14px;
  background-color: #fdfdf8;
}

button {
  background-color: #FFBD09;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.add-creator-container button {
  transition: background-color .2s ease, transform .05 ease;
}
.add-creator-container button:hover {
  background-color: rgba(255, 189, 9, 0.8);
}