.chats-page h2 {
    font-weight: 500;
    color: #FDAC61;
    margin-left: 0px;
    margin-top: 2rem;
}

.chats-page .partner-list h2 {
    font-weight: 500;
    color: #FDAC61;
    margin-left: 0px;
    margin-top: 2rem;
}

.partner-list ul {
    list-style-type: none;
    color: #AFAFAE;
    padding-left: 0px;
}

.partner-list ul li {
    cursor: pointer;
    transition: color .2s ease, transfrom .05s ease;
    padding: 1rem .5rem;
    border: 1px solid #E3DFC8;
    border-bottom: none;
}

.partner-list ul li:last-child {
    border-bottom: 1px solid #E3DFC8;
}

.partner-list ul li:hover {
    color: #737373;
}


.start-new-chat-btn {
    margin-bottom: 2rem;
    transition: background-color .2s ease, transform .05s ease;
}

.start-new-chat-btn:hover {
    background-color: rgba(253, 172, 97, 0.8);
}

.start-new-chat-form select {
    appearance: none;
    /* remove default arrow (Chrome, Safari, etc.) */
    -moz-appearance: none;
    /* remove default arrow (Firefox) */
    -webkit-appearance: none;
    /* remove default arrow (Safari) */

    width: 12rem;
    padding: 0.5rem 2rem 0.5rem 0.75rem;
    font-size: 1rem;
    font-family: inherit;
    border: 1px solid #808C6C;
    border-radius: 6px;
    background-color: #fff;
    color: #363636;
    cursor: pointer;

    /* optional: custom arrow icon */
    background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='20' width='20' xmlns='http://www.w3.org/2000/svg'><polygon points='0,0 20,0 10,10'/></svg>");
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
    background-size: 12px;
    cursor: pointer;
    margin: 0rem 1rem 2rem 0rem;
}

.start-new-chat-form select:focus {
    border-color: #FDAC61;
    outline: none;
    box-shadow: 0 0 0 2px rgba(253, 172, 97, 0.25);
}

.start-new-chat-form select option {
    padding: 0.5rem;
    font-size: 1rem;
    background-color: white;
    cursor: pointer;
}

.start-new-chat-form select option:hover {
    background-color: #E3DFC8;
}

.start-new-chat-form input[type="text"] {
    margin: 0rem 1rem 2rem 0rem;
}

.start-new-chat-form button {
    transition: background-color .2s ease, transform .05s ease;
}

.start-new-chat-form button:hover {
    background-color: rgba(253, 172, 97, 0.8);
}
