.content-tools h2 {
    font-weight: 500;
    color: #FFBD09;
    margin-left: 0px;
    margin-top: 2rem;
}

.content-tools-actions {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.content-tools-actions button {
    transition: background-color .2s ease, transform .05s ease;
}

.content-tools-actions button:hover {
    background-color: rgba(255, 189, 9, 0.6);
}