.create-article-container form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.create-article-container h2 {
  font-weight: 500;
  color: #FFBD09;
  margin-left: 0px;
  margin-top: 2rem;
}

.create-article-container .ql-editor {
  min-height: 300px;
}

.create-article-container .ql-container {
  height: auto !important;
}

.create-article-container textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}

.create-article-container .input-title {
  width: 20rem;
}

.create-article-container button {
  align-self: flex-start;
  background-color: #FFBD09;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}