@media only screen and (min-width: 700px) {
    .phone-sidebar-container {
        display: none;
    }

    .open-phone-sidemenu-btn {
        display: none;
    }
}



@media only screen and (min-width: 360px) and (max-width: 700px) {


    .accordion-section {
        display: none;
    }

    .open-phone-sidemenu-btn {
        display: block;
        width: 20px;
        height: 20px;
        background-color: #FFB909;
        position: fixed;
        z-index: 12;
        top: 25rem;
    }

    .phone-sidebar {
        position: fixed;
        top: 131px;
        /* header height */
        left: 0;
        width: 70vw;
        max-width: 320px;
        height: calc(100dvh - 131px);
        background: #e7e3cc;
        z-index: 1003;

        overflow-y: auto;
        overscroll-behavior: contain;

        padding: 2rem 1rem;
        box-sizing: border-box;
    }

    .close-phone-sidebar {
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    border: none;
    background: transparent;
    font-size: 2rem;
    cursor: pointer;
  }
}