.edit-profile h2 {
    font-weight: 500;
    color: #FFBD09;
    margin-left: 0px;
    margin-top: 2rem;
}

.choose-profile-picture {
    display: none;
}

.edit-profile input {
    color: #252525;
    outline: none;
}

.edit-profile input:focus {
    border: 1px solid #FFBD09;
}

.edit-profile label {
    background-color: #2C510B;
    color: white;
    padding: 0.5rem 1rem 0.5rem 1rem;
    cursor: pointer;
    font-size: 13px;
    width: fit-content;
    margin-bottom: 1.5rem;
    transition: background-color .2s ease, transform .05s ease;
}

.edit-profile label:hover {
    background-color: rgba(128, 140, 108, 0.8);
}

.edit-input-fields {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.edit-profile button {
    transition: background-color .2s ease, transform .05s ease;
}

.edit-profile button:hover {
    background-color: rgba(255, 189, 9, 0.8);
}