.full-reuslt-container h2 {
    font-weight: 500;
    color: #FFBD09;
    margin-left: 0px;
    margin-top: 2rem;
}

.full-reuslt-container h3 {
    font-weight: 500;
    color: #2C510B;
    margin-left: 0px;
    margin-top: 2rem;
}

.full-reuslt-container {
    width: 66dvw;
    padding-left: 17dvw;
    padding-right: 17dvw;
    display: flex;
}


.full-reuslt-container section {
    color: #737373;
}



