.full-result-container h2 {
    font-weight: 500;
    color: #FFBD09;
    margin-left: 0px;
    margin-top: 2rem;
}

.full-result-container h3 {
    font-weight: 500;
    color: #2C510B;
    margin-left: 0px;
    margin-top: 2rem;
}

.full-result-container {
    width: 66dvw;
    display: flex;
    flex-direction: column;
}


.full-result-container section {
    color: #737373;
}



