.ml-tools ul {
    list-style-type: none;
    padding-left: 0px;
}

.ml-tools ul li {
    cursor: pointer;
    color: #AFAEAE;
    font-size: 17px;
    margin-bottom: 1rem;
    width: fit-content;
}

.ml-tools ul li:hover {
    color: #FDAC61;
    font-size: 19px;
}