.recent-surveys-div h2 {
    color: #808C6C;
    margin-left: 2dvw;
}


.survey-cards-container {
    margin-left: 2dvw;
    margin-top: 4dvh;
    width: fit-content;
    max-width: 96dvw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.survey-card {
    width: 17rem;
    height: 13rem;
    border-radius: 0%;
    background-color: white;
    border: 1px solid #808C6C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-right: 1rem;
}

.survey-card h3, .survey-card p {
    width: 13rem;
}

.survey-card h3 {
    color: #FDAC61;
    font-weight: 700;
}

.author-date {
    color:  #737373;
    font-style: oblique;
}



.read-more {
    color: white;
    background-color: #FDAC61;
    width: 5.5rem;
    height: 2.5rem;
    text-decoration: none;
    text-align: center;
    align-content: center;
    margin-bottom: 1rem;
}

.read-more:hover {
    background-color: #808C6C;
}