.test-tools {
  padding: 2rem;
  font-family: 'Helvetica Neue', sans-serif;
}

.test-tools h2 {
  font-weight: 500;
  color: #FDAC61;
  margin-left: 0px;
  margin-top: 2rem;
}

.test-tools table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

.test-tools th,
.test-tools td {
  border-bottom: 1px solid #ccc;
  text-align: left;
  padding: 0.75rem;
  color: #4A4A4A;
}

.test-tools th {
  color: #FDAC61;
  font-weight: 500;
}

.test-tools .filter-row {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.test-tools input,
.test-tools select {
  padding: 0.5rem;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.test-tools-actions {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.test-tools-actions button {
    transition: background-color .2s ease, transform .05s ease;
}

.test-tools-actions button:hover {
    background-color: rgba(253, 172, 97, 0.6);
}