.root .header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    /* Add some spacing inside the header */
    box-sizing: border-box;
    padding-top: 3dvh;
    padding-bottom: 3dvh;
}

.root .header .logo {
    width: 200px;
    height: auto;
}

.root .header .main-nav {
    display: flex;
    gap: 20px;
    /* Even spacing between nav items */
    flex-wrap: wrap;
    /* In case screen is smaller */
}

.root .header .main-nav .main-menu-link {
    font-size: 16px;
    color: #808C6C;
    text-decoration: none;
    text-transform: uppercase;
}

.root .header .main-nav .main-menu-link:hover {
    color: #FDAC61;
}




.test .hero {
    background-color: #FDAC61;
    width: 100%;
    height: 55dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.4);
}

.test .hero .hero-message {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.test .hero .hero-message h1 {
    color: #F5F1DA;
    font-weight: 400;
    font-size: 32px;
    margin: 0dvh 0dvh 5dvh 0dvh;
}

.test .hero .hero-message p {
    color: #E3DFC8;
    font-size: 20px;
    width: 75%;
    text-align: center;
    margin: 0dvh 0dvh 5dvh 0dvh;
}

.test .hero .hero-btn {
    background-color: #F5F1DA;
    color: #808C6C;
    width: fit-content;
    padding-left: 4dvw;
    padding-right: 4dvw;


}

.test .hero .hero-btn h2 {
    font-weight: 400;

}

.test .hero .hero-btn:hover {
    background-color: #E3DFC8;
    cursor: pointer;
}

.test .container {
    position: relative;
    width: 100%;
    height: 100%;
}

/* The cover will be above everything */
.test .cover {
    position: absolute;
    top: 0;
    bottom: 0;
    inset: 0;
    /* shorthand for top: 0; left: 0; right: 0; bottom: 0; */
    background: rgba(128, 140, 108, 0.3);
    /* or any filter color */
    z-index: 10;
    pointer-events: all;
}

/* The rest of the content */
.test .content {
    position: relative;
    z-index: 1;
    /* lower than the cover */
}


.set .set-title {
    font-weight: 400;
    color: #808C6C;
    font-size: 28px;
    margin: 40px 0px 40px 0px;
}

.set .set-message {
    color: #808C6C;
    font-size: 24px;
    font-weight: 400;
    margin: 40px 0px 10px 0px;
}

.set {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.set-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90dvw;
}

.photo {
    border-width: 1px;
    border-color: black;
    border-style: solid;
    width: 11dvw;
    height: 17dvw;
    aspect-ratio: 2 / 3;

}

.photo img {
    width: 100%;
    height: 100%;
}

.set .photo-question h2 {
    color: #808C6C;
    font-size: 24px;
    font-weight: 400;
    margin: 0px 0px 20px 0px;
    text-align: center;
}

.set .custom-radio {
    display: inline-flex;
    align-items: center;
    margin: 10px;
    font-size: 18px;
    color: #808C6C;
    cursor: pointer;
    position: relative;
    margin-bottom: 30px;
}

.set .custom-radio input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #808C6C;
    border-radius: 50%;
    margin-right: 8px;
    position: relative;
    cursor: pointer;
    transition: border-color 0.3s ease;

}

.set .custom-radio input[type="radio"]::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-color: #FDAC61;
    border-radius: 50%;
    position: absolute;
    top: 22%;
    left: 22%;
    transform: scale(0);
    transition: transform 0.2s ease;
}

.set .custom-radio input[type="radio"]:checked::before {
    transform: scale(1);
}

.set .submit-radio {
    background-color: #FDAC61;
    border: none;
    color: #F5F1DA;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.signup-form-container, .login-form-container {
    max-width: 400px;
    margin: 40px auto;
    padding: 2rem;
    border: 1px solid #808C6C;
    border-radius: 10px;
    box-shadow: 0 0 10px #eee;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
}

.signup-form-container form, .login-form-container form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signup-form-container h1, .login-form-container h1 {
    color: #FDAC61;
    font-weight: 400;
}

.signup-form-container form input, .login-form-container form input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    border: 1px solid #808C6C;
    border-radius: 5px;
}

.signup-form-container form button, .login-form-container form button {
    background-color: #FDAC61;
    color: #F5F1DA;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.signup-to-login, .login-to-signup, .reset-password-link {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #CBC8B4;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    text-align: center;
}

.signup-to-login .login-link, .login-to-signup .signup-link, .reset-password-link .reset-link {
    color: #FDAC61;
    text-decoration: none;
    font-weight: 500;
    margin-left: 5px;
}

.reset-password-link {
    margin-top: 10px;
}

.signup-to-login .login-link:hover, .login-to-signup .signup-link:hover, .reset-password-link .reset-link:hover {
    text-decoration: underline;
}



.footer {
    width: 96dvw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15dvh;
    padding-left: 2dvw;
}

.dashboard-container .sidebar-container {
  width: 250px;
  padding: 1rem;
  
}

.dashboard-container .profile-picture {
    width: 15rem;
    height: 15rem;
}

.dashboard-container .profile-picture img{
    width: 15rem;
    height: 15rem;
}

.dashboard-container .submenu {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.dashboard-container .main-content {
  flex: 1;
  padding: 2rem;
  padding-top: 0px;
}

.dashboard-container {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
}

.dashboard-container .accordion-section p{
    font-size: 24px;
    color: #808C6C;
    cursor: pointer;
}

.dashboard-container .accordion-section .admin-menu-link{
    text-decoration: none;
    color:#E3DFC8;
    font-size: 18px;
}

.dashboard-container .accordion-section .admin-menu-link:hover{
    text-decoration: none;
    color:#FDAC61;
    font-size: 20px;
}

.stats-container {
  max-width: 90rem;
  margin: 2rem auto;
  font-family: inherit;
  height: fit-content;
}

.stats-container ul {
  list-style: none;
  padding: 0;
}

.stats-container li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dcdcdc;
  padding: 0.8rem 0;
  font-size: 1rem;
}

.stats-container h2 {
  color: #808c6c;
  font-weight: 500;
  text-align: left;
  margin-bottom: 1.5rem;
}

.stats-container .table-header {
    color: #FDAC61;
}

.stats-container .table-value {
    color: #CBC8B4;
}


